* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #299e50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: aliceblue;
    list-style-position: inside;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-image: url(hi.gif);
    background-size: cover;
    height: min(40vh);
    color: #ca7841;
}

h1 {
    padding-top: 35vh;
}
p {
    margin: 3vh min(5vw) 1vh;
    padding: 0 10vw;
    text-align: center;
    font-size: 1.4em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color: #2a3131;
}

h2 {
    margin: 2vh min(5vw);
    text-align: center;
    background-color: #f3ec78;
    background-image: linear-gradient(#2a8fe2, #e6c328);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 2em;
}

section {
    width: 100vw;
}

ul {
    width: 40vw;
    margin: auto;
}

li {
    padding-bottom: 1vh;
}
span {
    display: inline-block;
    padding: 3vh 0 3vh 0;
    font-size: 1.2em;
    color: #ca7841;
}

footer {
    background-color: #273168;
}

.foot {
    margin: unset;
    padding: 3vh 5vw;
}

iframe {
    display: block;
    margin: 5vh auto;
}
@media screen and (max-width: 1000px) {

    p {
        padding: 0 5vw;
    }

    ul {
        margin: 0 min(10vw);
        width: unset;
    }

    .foot {
        font-size: 1em;
    }

    h2 {
        font-size: 1.4em;
        padding: 0 10vw;
    }

    h1 {
        padding-top: 25vh;
    }
}

@media screen and (max-width: 630px) { 
    iframe {
        width: 345px;
        height: auto;
    }

    p {
        font-size: 1.1em;
    }

    ul {
        width: unset;
    }
}